%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, []}.

%% Profiles
{profiles, [ {dev,
              [{edoc_opts,[{private,true}]}
              ]}
           ]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc,
 [ {homepage_url, "https://fredyouhanaie.github.io/fibber"},
   {source_url, "https://github.com/fredyouhanaie/fibber"},
   {output, "exdoc"},
   {api_reference, true}
 ]}.
