on: [push]

jobs:
  erlang_job:
    name: run the tests in a container
    runs-on: ubuntu-latest
    container: erlang:alpine
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Erlang dialyzer
        run: rebar3 dialyzer
      - name: Erlang unit tests
        run: rebar3 eunit
