name: Erlang CI

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

permissions:
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        erlang: [22.0.7, 24.2]

    steps:
    - uses: actions/checkout@v3
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: rebar3 do eunit, ct
